<body id="body">
  <div>
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Menu_item1","#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Menu_item1", "#",class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "Menu_item2", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Menu_item3", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Menu_item4", "#",class: "nav-link" %></li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "Sign Out",destroy_user_session_path, :method => :delete,class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login","#",class: "nav-link" %></li>
        </ul>
    </nav>
  </div>
</body>
