<body id="body">
  <div>
    <nav class="navbar navbar-expand bg-light">

      <a class="navbar-brand" >YOUNGSTERS</a>

      <ul class="navbar-nav">
        <!-- <li class="nav-item"><%= link_to "COLLECTIONS","#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "GUYS", "#",class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "GIRLS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "KIDS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "SWEATSHIRTS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "HOME DECOR", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "SALE", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "READY TO SHIP", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "MORE", "#",class: "nav-link" %></li>
         -->
        <div class="dropdown">
          <button class="dropbtn">COLLECTIONS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">GUYS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">GIRLS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">KIDS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">SWEATSHIRTS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">HOME DECOR</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">SALE</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">READY TO SHIP</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">MORE</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "Sign Out",destroy_user_session_path, :method => :delete,class: "nav-link signout_login" %></li>
          <li class="nav-item"><%= link_to "Login","#",class: "nav-link signout_login" %></li>
        </ul>
    </nav>
  </div>

  <div class="container-fluid row">
    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>
  </div>
</body>
