<body id="body">
  <div>
    <nav class="navbar navbar-expand bg-light">

      <a class="navbar-brand" >YOUNGSTERS</a>

      <ul class="navbar-nav">
        <!-- <li class="nav-item"><%= link_to "COLLECTIONS","#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "GUYS", "#",class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "GIRLS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "KIDS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "SWEATSHIRTS", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "HOME DECOR", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "SALE", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "READY TO SHIP", "#",class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "MORE", "#",class: "nav-link" %></li>
         -->
        <div class="dropdown">
          <button class="dropbtn">COLLECTIONS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">GUYS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">GIRLS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">KIDS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">SWEATSHIRTS</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">HOME DECOR</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">SALE</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">READY TO SHIP</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">MORE</button>
            <div class="dropdown-content">
              <a href="#" >Link 1</a>
              <a href="#" >Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "Sign Out",destroy_user_session_path, :method => :delete,class: "nav-link signout_login" %></li>
          <li class="nav-item"><%= link_to "Login","#",class: "nav-link signout_login" %></li>
        </ul>
    </nav>
  </div>

  <div class="container-fluid row" id="admin_panel">
    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <h2>Admin Panel</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/add.jpg" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Add Products</a>
          </div>
        </div>
    </div>
  </div>



<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 50%;
      height: 50%;
  }
  </style>

  <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/online.png" alt="Los Angeles" width="100" height="100">
    </div>
    <div class="carousel-item">
      <img src="assets/youngsters.jpg" alt="Chicago" width="100" height="100">
    </div>
    <div class="carousel-item">
      <img src="assets/online.png" alt="New York" width="100" height="100">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
