<p id="notice"><%= notice %></p>

<div class="container-fluid row">
  <div class="col-md-4">
    <h1>Products</h1>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
  </div>
</div>

<br>

<div class="container-fluid row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="main_product">
        <%= link_to product do %>
          <%= image_tag(product&.image_url(:thumb).to_s) %>
        <% end %>
      </div>
        <ul style="list-style: none">
          <li><b>Price: </b><%= product.price %></li>
          <li><b>Sizes: </b><%= product.size.join(',') %></li>
          <li><b>Quantity: </b><%= product.quantity %></li>
          <li><b>Name: </b><%= product.name %></li>
          <li><b>Code: </b><%= product.code %></li>
          <li><b>Category: </b><%= product.category %></li>
          <li><b>Actions: </b><%= link_to 'Show', product %>, <%= link_to 'Edit', edit_product_path(product) %>, <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <ul>
    </div>
  <% end %>
</div>
